@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.wrap {
    margin: auto 75px;
}

a {
    text-decoration: none;
}

.container-fluid {
    padding: 0;
}

a:hover,
.home-page {
    background-color: #D2B89C;
    color: white !important;
}


/*********** HEADER ***********/

header {
    background-color: #D2B89C;
}

.header__logo i {
    font-size: 2rem;
}

.background_color_second {
    background-color: #F3F9FB !important;
}

.header__search input {
    box-shadow: none !important;
}

/*********** NAVIGATION BAR ***********/

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}


/*********** CONTENT ***********/
#body {
    padding: 0 4rem;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.navbar-brand {
    text-transform: uppercase;
    margin: 0;
    padding: 0 20px;
}

h1 {
    color: #D2B89C;
    margin-top: 10px;
}

span {
    color: #D2B89C;
}

.tieu-de {
    text-transform: uppercase;
    color: #D2B89C;
    margin-top: 40px;
}

/* Section San Pham Start */
.main-txt h1 {
    text-transform: uppercase;
    color: #D2B89C;
}

del {
    color: #d3ced2;
}

.card-body h4 {
    text-align: center;
    text-transform: uppercase;
}

.card-body h5 {
    color: red;
}

/* Section San Pham End */

/*********** CONTENT END***********/



/*********** FOOTER ***********/
footer {
    background-color: #D2B89C;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

/* Footer End */

@media only screen and (max-width: 970px) {
    #header {
        padding: 0 15px;
    }

    #search {
        width: 20rem;
    }
}

/* RESPONSIVE */
@media (max-width: 575.98px) {
    .wrap {
        margin: auto 0;
    }
}

@media (max-width: 767.98px) {
    .wrap {
        margin: auto 0;
    }
}

@media (max-width: 991.98px) {
    .wrap {
        margin: auto 10px;
    }

    .content__body__form {
        width: 100%;
    }
}

@media (max-width: 1199.98px) {}

@media (max-width: 1399.98px) {}

/* Navigation Start */
#nav {
    margin-top: 70px;
    height: 120px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 152px;

}

#nav button {
    font-size: 16px;
    width: 20px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    border: none;
    padding: 6px 50px;
    cursor: pointer;
}

#nav button:hover {
    background-color: #D2B89C;
    color: white;
}

/* Navigition End */
#content {
    width: 100%;

}

/*********** FOOTER ***********/
footer {
    clear: both;
    background-color: #D2B89C;
}

footer a {
    color: white;
    text-decoration: none;

}

footer a:hover {
    color: white;
    text-decoration: underline;
    margin-left: 10px;
}

/* RESPONSIVE */
@media (max-width: 575.98px) {
    .wrap {
        margin: auto 0;
    }
}

@media (max-width: 767.98px) {
    .wrap {
        margin: auto 0;
    }
}

@media (max-width: 991.98px) {
    .wrap {
        margin: auto 10px;
    }

    .content__body__form {
        width: 100%;
    }
}

/* Reponsive */
@media only screen and (max-width: 970px) {
    #header {
        padding: 0 15px;
    }

    #search {
        width: 20rem;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .image-logo {
        width: 90px;
        height: 50px;
    }


    #header {
        display: flex;
        background-color: #D2B89C;
        height: 70px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0 4px;
        position: fixed;
        top: 0;
        left: 0;

    }

    #search {
        width: 10rem;
        height: 2rem;
        border-radius: 7px;
        border: none;
        /* Khoang cach giữa chữ và input */
        text-indent: 20px;
        font-size: 13px;
        position: relative;
    }

    .fi-br-search {
        position: absolute;
        right: 7px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 13px;
    }

    .btn {
        background-color: #D2B89C;
        border: none;
        font-size: 11px;
    }

    .intro-container {
        margin: auto 5px;
    }

    .intro-container .text-right {
        padding-left: 5px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .btn {
        background-color: #D2B89C;
        border: none;
        font-size: 18px;
    }
}