/*********** GLOBAL ***********/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: lightgray;
}

.wrap {
    margin: auto 75px;
}

.title__color {
    color: #D2B89C;
}

.price__color {
    color: #FD475A;
}

/*********** HEADER ***********/

header {
    background-color: #D2B89C;
}

.header__logo i {
    font-size: 2rem;
}

.background_color_second {
    background-color: #F3F9FB !important;
}

.header__search input {
    box-shadow: none !important;
}

/*********** MAIN ***********/
.menu * {
    color: #777979;
}

.menu>span {
    color: #D2B89C;
}

.choose__product>div>div>div:nth-child(2) {
    background-color: #D2B89C;
}

.choose__product__version .version {
    border: 1px solid lightgray;
    cursor: pointer;
}

label {
    cursor: pointer;
}

.choose__product__version .version:hover {
    border: 1px solid #D2B89C;
}

/* OFFER */
.product__offer {
    border: 1px solid #FD475A;
}

.product__offer li {
    color: #FD475A;
}

#buyNow {
    border: 2px solid #D2B89C;
    background-color: white;
}

#buyNow * {
    color: #D2B89C;
    transition: 0.8s;
}

#buyNow:hover {
    background-color: #D2B89C;
}

#buyNow:hover * {
    color: white;
}

#installment {
    border: 2px solid #FD475A;
    background-color: white;
}

#installment * {
    color: #FD475A;
    transition: 0.8s;
}

#installment:hover {
    background-color: #FD475A;
}

#installment:hover * {
    color: white;
}

#addCart {
    border: 2px solid #FF990E;
    background-color: white;
}

#addCart * {
    color: #FF990E;
    transition: 0.8s;
}

#addCart:hover {
    background-color: #FF990E;
}

#addCart:hover * {
    color: white;
}

.accordion-button {
    background-color: white !important;
    color: black !important;
}

.accordion-button:focus {
    border: none !important;
}

/*********** FOOTER ***********/
footer {
    background-color: #D2B89C;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 575.98px) {
    .wrap {
        margin: auto 0;
    }

    .header__user>* {
        display: block;
    }

    .header__user__line {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .wrap {
        margin: auto 0;
    }
}

@media (max-width: 991.98px) {
    .wrap {
        margin: auto 10px;
    }

    .content__body__form {
        width: 100%;
    }

    .header__user>* {
        display: block;
    }

    .header__user__line {
        display: none;
    }
}

@media (max-width: 1199.98px) {}

@media (max-width: 1399.98px) {}